# THỰC HÀNH 1: HỒI QUY TUYẾN TÍNH

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("D:\\Learn\\DS102ML\\forest+fires\\forestfires.csv")
df.head(10)

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [5]:
for name in df.columns:
    print(f"Total Nan:",df[name].isna().sum())
    print(f"Total Null:",df[name].isnull().sum())
    print(f"Data Type:",df[name].dtypes)
    print("*"*15)

Total Nan: 0
Total Null: 0
Data Type: int64
***************
Total Nan: 0
Total Null: 0
Data Type: int64
***************
Total Nan: 0
Total Null: 0
Data Type: object
***************
Total Nan: 0
Total Null: 0
Data Type: object
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: int64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************
Total Nan: 0
Total Null: 0
Data Type: float64
***************

In [6]:
def convert_month(month):
    month_dict = {
        "jan": 1,
        "feb": 2,
        "mar": 3,
        "apr": 4,
        "may": 5,
        "jun": 6,
        "jul": 7,
        "aug": 8,
        "sep": 9,
        "oct": 10,
        "nov": 11,
        "dec": 12
    }
    return month_dict[month]

In [7]:
def convert_day(day):
    day_dict = {
        "mon": 0,
        "tue": 1,
        "wed": 2,
        "thu": 3,
        "fri": 4,
        "sat": 5,
        "sun": 6
    }
    return day_dict[day]

In [8]:
df["month"] = df["month"].apply(convert_month)

In [9]:
df["day"] = df["day"].apply(convert_day)

In [10]:
df.head(10)

   X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5      3    4  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    1  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    5  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6      3    4  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6      3    6  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6      8    6  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6      8    0  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6      8    0  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6      9    1  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5      9    5  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

# Model

In [11]:
class LinearRegression:
    def fit(self, X, y):
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        self.theta = inv_cov @ (X.T @ y)
    def predict(self, X):
        y_predict = self.theta.T @ X.T
        return y_predict
    def rmse(self,y_pred, y_test):
        rmse = np.square(y_pred - y_test).mean()**0.5
        return rmse

In [12]:
data = df.to_numpy()

In [20]:
np.random.shuffle(data)

In [21]:
train_size = int(0.8*len(df))
train_size

413

In [22]:
X_y_train = data[:train_size]

In [23]:
X_y_test = data[train_size:]

In [24]:
X_train = X_y_train[:,:12]
y_train = X_y_train[:,-1]

In [25]:
X_test = X_y_test[:,:12]
y_test = X_y_test[:,-1]

In [29]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_predict = lr.predict(X_test)
print(f"RSME = {lr.rmse(y_predict,y_test)}")

RSME = 74.28967232230433