# THỰC HÀNH 1: HỒI QUY TUYẾN TÍNH

In [34]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("D:\\Learn\\DS102ML\\forest+fires\\forestfires.csv")

In [7]:
df.head(10)

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [9]:
for name in df.columns:
    print(f"Nan:",df[name].isna().sum())
    print(f"Null:",df[name].isnull().sum())
    print(f"Type:",df[name].dtypes)
    print("*"*15)

Nan: 0
Null: 0
Type: int64
***************
Nan: 0
Null: 0
Type: int64
***************
Nan: 0
Null: 0
Type: object
***************
Nan: 0
Null: 0
Type: object
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: int64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************
Nan: 0
Null: 0
Type: float64
***************

In [10]:
def convert_month(month):
    month_dict = {
        "jan": 1,
        "feb": 2,
        "mar": 3,
        "apr": 4,
        "may": 5,
        "jun": 6,
        "jul": 7,
        "aug": 8,
        "sep": 9,
        "oct": 10,
        "nov": 11,
        "dec": 12
    }
    return month_dict[month]

In [11]:
def convert_day(day):
    day_dict = {
        "mon": 0,
        "tue": 1,
        "wed": 2,
        "thu": 3,
        "fri": 4,
        "sat": 5,
        "sun": 6
    }
    return day_dict[day]

In [12]:
df["month"] = df["month"].apply(convert_month)

In [13]:
df["day"] = df["day"].apply(convert_day)

In [14]:
df.head(10)

   X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5      3    4  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    1  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    5  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6      3    4  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6      3    6  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6      8    6  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6      8    0  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6      8    0  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6      9    1  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5      9    5  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [15]:
class LinearRegression:
    def fit(self, X, y):
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        self.theta = inv_cov @ (X.T @ y)
    def predict(self, X):
        y_predict = self.theta.T @ X.T
        return y_predict
    def rmse(self,y_pred, y_test):
        rmse = np.square(y_pred - y_test).mean()**0.5
        return rmse

In [16]:
data = df.to_numpy()

In [17]:
np.random.shuffle(data)

In [18]:
train_size = int(0.8*len(df))
train_size

413

In [19]:
X_y_train = data[:train_size]

In [20]:
X_y_test = data[train_size:]

In [21]:
X_train = X_y_train[:,:12]
y_train = X_y_train[:,-1]

In [22]:
X_test = X_y_test[:,:12]
y_test = X_y_test[:,-1]

In [23]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_predict = lr.predict(X_test)
lr.rmse(y_predict,y_test)

np.float64(75.10714544853249)

In [24]:
def Standardize(x):
    for i in df.columns:
        x[i] = (x[i] - x[i].mean())/x[i].std()

In [25]:
Standardize(df)
df.head(10)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,1.007337,0.569309,-1.966538,0.357375,-0.805180,-1.322045,-1.828706,-0.860113,-1.840857,0.411326,1.497164,-0.073197,-0.201824
1,1.007337,-0.243765,1.109046,-1.089853,-0.008094,-1.178399,0.488418,-0.509195,-0.153130,-0.691786,-1.740070,-0.073197,-0.201824
2,1.007337,-0.243765,1.109046,0.839784,-0.008094,-1.048806,0.560173,-0.509195,-0.738668,-0.691786,-1.516813,-0.073197,-0.201824
3,1.439531,1.382383,-1.966538,0.357375,0.191177,-1.211188,-1.896429,-0.004751,-1.823636,3.230391,-0.009824,0.602572,-0.201824
4,1.439531,1.382383,-1.966538,1.322193,-0.243597,-0.930142,-1.796859,0.126843,-1.289763,3.352959,-1.237741,-0.073197,-0.201824
5,1.439531,1.382383,0.230308,1.322193,0.299871,-0.399278,-0.241629,1.245392,0.570182,-0.936922,0.771577,-0.073197,-0.201824
6,1.439531,1.382383,0.230308,-1.572262,0.299871,-0.343069,-0.210992,-0.114413,0.897394,-1.059490,-0.512154,-0.073197,-0.201824
7,1.439531,1.382383,0.230308,-1.572262,0.154946,0.539103,0.242919,0.368098,-1.875301,2.556266,-1.014483,-0.073197,-0.201824
8,1.439531,1.382383,0.669677,-1.089853,0.064368,0.290846,0.583151,-0.443398,-0.996994,1.146734,0.771577,-0.073197,-0.201824
9,1.007337,0.569309,0.669677,0.839784,0.336102,-0.357121,0.607338,-0.421466,0.673512,-0.262798,-0.009824,-0.073197,-0.201824

In [26]:
data = df.to_numpy()

In [27]:
np.random.shuffle(data)
data

array([[ 1.43953076,  1.38238301,  1.10904606, ..., -0.73541129,
        -0.07319742,  0.0133956 ],
       [-1.58582453, -1.05683889,  0.23030765, ...,  0.99483485,
        -0.07319742, -0.20182432],
       [-0.72143731, -0.24376492, -0.20906156, ..., -0.73541129,
        -0.07319742, -0.20182432],
       ...,
       [ 0.57514353,  0.56930904, -1.52716917, ..., -0.51215372,
        -0.07319742, -0.14919755],
       [ 0.14294992,  0.56930904,  0.23030765, ...,  0.26924776,
        -0.07319742, -0.20182432],
       [ 0.57514353,  1.38238301, -0.20906156, ..., -0.51215372,
        -0.07319742, -0.20182432]], shape=(517, 13))

In [28]:
train_size = int(0.8*len(df))
train_size

413

In [29]:
X_y_train = data[:train_size]

In [30]:
X_y_test = data[train_size:]

In [31]:
X_train = X_y_train[:,:12]
y_train = X_y_train[:,-1]

In [32]:
X_test = X_y_test[:,:12]
y_test = X_y_test[:,-1]

In [33]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_predict = lr.predict(X_test)
lr.rmse(y_predict,y_test)

np.float64(1.7168371784328118)